./Translate

#JSON files used for testing

TranslateSheet1.xlsx

en.xlsx

translate.py

extractKeys.py

extractValues.py

en-vi.yml

concat.json

conTrans.json

vi.json

values.json

en-GB.json

keys.json

**/json

**/__pycache__
